<div>This is the extension!!!~~~~</div>

<div id="react-root"></div>

<script src="{{ 'widget.bundle.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
